body {
    border-radius: 8px;
    background-color:#E1D4C9;
    font-family: Inter;
}
.logo {
    position: relative;
}
.logo1 {
    position: relative;
    top: 0px;
    left: 30px;
}
.logo2 {
    position: relative;
    top: -37px;
    left: 0px;
}
.logo3 {
    position: relative;
    top: -35px;
    left: 15px;
}
