
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight:600;
    background-color:#E1D4C9;
    margin: 20px 0px 0px 0px;
    }
.container {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 40px;
}
html {
    scroll-behavior: smooth;
  }
.page-header {
    padding-top: 18px;
    margin-bottom: 1px;
}
.page-header-container {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 0;
    
}
.header-menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    display: flex;
    column-gap: 40px;
}
.header-menu-link {
    color:#403F3D;
    font-size: 16px;
    line-height: 100%; 
    text-decoration: none;
    list-style-type: none;
}
.link-effect {
    position: relative;
    transition: 0.5s;
}
.link-effect:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #403F3D;
    position: absolute;
    left: 0; bottom: -10px;
    transform: scaleX(0);
    transition: 0.5s;
}
.link-effect:hover {
    color:#403F3D;
}
.link-effect:hover:before {
    transform: scaleX(1);
    transition: transform 0.5s;
}
.menu-button {
    color:#403F3D;
    font-size: 16px;
    line-height: 150%; 
    text-decoration: none;
    margin: 0;
    padding-top: -5px;
    height: 24px;
}
.logo {
    position: relative
    }
.logo1 {
    position: relative;
    top: -11px;
    left: 31px;
}
.logo2 {
    position: relative;
    top: -47px;
    left: 5px;
}
.logo3 {
    position: relative;
    top: -46px;
    left: 17px;
}
.hero-image {
    border-radius: 40px;
    margin: 0;
    display: flex;
}
.h1 {
    display: none;
}
.offer-title {
    color: #B0907A;
font-size: 72px;
font-style: italic;
line-height: 105%; /* 75.6px */
width: 530px;
height: 228px;
padding: 0;
margin: 0;
}
.colortext {
    color: #E1D4C9;
}
.offer-text {
color: #E1D4C9;
font-size: 16px;
font-weight: 400;
line-height: 150%;
width: 530px;
height: 72px;
padding: 0;
margin-top: 14px;
margin-bottom: 14px;
}
.button-primary {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 64px;
    padding: 20px, 78px;
    border: 1px solid #E1D4C9;
    border-radius: 100px;
    background-color: #E1D4C9;
    align-items: center;
    position: relative;
}
.button-link {
    color:#403F3D;
    font-size: 16px;
    line-height: 150%; 
    text-decoration: none;
}
.menu-change {
    transition: 0.5s;  
}
.button-primary:hover .menu-change {
    margin-right: 30px;
    transition: 0.5s;
}
.button-primary:hover .button-cup {
    opacity: 1;
    transition: 0.5s;
}
.button-cup {
position: absolute;
left: 120px;
opacity: 0;
transition: 0.5s;
}
.enjoy-block {
    background-image: url(../pictures/img-hero.jpg);
    background-position: center;
    width: 1160px;
    height: 444px;
    padding: 100px;
    border-radius: 40px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .Favorites-coffee_block {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .slide1 {
        display: block;
    }
    .slide1__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slide2 {
        display: none;
    }
    .slide2__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slide3 {
        display: none;
    }
    .slide3__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-title {
        color:#403F3D;
        font-size: 60px;
        line-height: 125%;
        margin-bottom: 40px;
    }
    .slide-title__colortext {
        color: #B0907A;
        font-style: italic;
    }
    .coffee-name {
        color: #403F3D;
        font-size: 24px;
        line-height: 125%;
        margin-top: 21px;
        margin-bottom: 0px;
    }
    .coffee-description {
        width: 480px;
        height: 48px;
        text-align: center;
        color: #403F3D;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-top: 16px;
    }
    .coffee-price {
        color: #403F3D;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
        margin-top: 0px;
        margin-bottom: 38px;
    }
    .coffee-button {
        width: 60px;
        height: 60px;
        border: 0.5px solid #665F55;
        border-radius: 100px;
        background-color: #E1D4C9;
        align-items: center;
        transition: 0.5s;
        
    }
    
    .coffee-button:hover {
        width: 60px;
        height: 60px;
        border: 0.5px solid #665F55;
        border-radius: 100px;
        background-color: #665F55;
        align-items: center;
        transition: 0.5s;
    }
    .coffee-button:hover .arrow {
        width: 60px;
        height: 60px;
        border: 0.5px solid #665F55;
        border-radius: 100px;
        background-color: #665F55;
        align-items: center;
        transition: 0.5s;
        fill: none;
        stroke: #E1D4C9;
    }
  
    .coffee-button-prev {
        position: absolute;
        top: 453px;
        left: 3px;
    }
    .coffee-button-next {
        position: absolute;
        top: 453px;
        right: 3px;
        cursor: pointer;
    }
    .Favorites-coffee__container {
        position: relative;
    }
    .bar-active {
        border: 0px solid #665F55;
        width: 40px;
        height: 4px;
        background-color: #665F55;
        border-radius: 100px;
    }
    .bar-inactive1 {
        border: 0px solid #C1B6AD;
        width: 40px;
        height: 4px;
        background-color: #C1B6AD;
        border-radius: 100px;
    }
    .bar-inactive2 {
        border: 0px solid #C1B6AD;
        width: 40px;
        height: 4px;
        background-color: #C1B6AD;
        border-radius: 100px;
    }
    .bars {
        display: flex;
        column-gap: 12px;
        justify-content:center;
        padding-top: 2px;
    }
    .about-title {
        padding: 0;
        margin: 0;
        width: 1400px;
        color: #403F3D;
        font-size: 60px;
        line-height: 125%;
        margin-bottom: 40px;
    }
    .about__colortext {
        color: #B0907A;
        font-style: italic;
        font-size: 60px;
        line-height: 125%;   
    }
    .about {
        margin-top: 100px;
        height: 1325px;
        padding-top: 2px;
    }
    .about__pics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about__img {
        border-radius: 20px;
        column-gap: 40px;
        row-gap: 40px;
    }
    .about__pair {
        margin-top: -120px;
        overflow: hidden;
        border-radius: 20px;
        width: 660px;
        height: 590px;
        object-fit: cover;

        display: flex;
        justify-content:center;
        align-items: center;
    }
    .about-img-pair {
        width: 726px;
        height: 726px;
        transform: scale(1.0);
        transition: transform 1s;
    }
    .about-img-pair:hover {
        width: 726px;
        height: 726px;
        transform: scale(0.9);
    }
    .about__girl {
        overflow: hidden;
        border-radius: 20px;
        width: 660px;
        height: 590px;
        object-fit: cover;

        display: flex;
        justify-content:center;
        align-items: center;
    }
    .about-img-girl {
        width: 726px;
        height: 726px;
        transform: scale(1.0);
        transition: transform 1s;
    }
    .about-img-girl:hover {
        width: 726px;
        height: 726px;
        transform: scale(0.9);
        
    }
    .about__man {
        overflow: hidden;
        border-radius: 20px;
        width: 660px;
        height: 430px;

        display: flex;
        justify-content:center;
        align-items: center;
    }
    .about-img-man {
        width: 726px;
        height: 726px;
        transform: scale(1.0);
        transition: transform 1s;
    }
    .about-img-man:hover {
        width: 726px;
        height: 726px;
        transform: scale(0.9);
        
    }
    .about__cup {

        margin-top: 40px;
        margin-left: -0.5px;
        overflow: hidden;
        border-radius: 20px;
        width: 660px;
        height: 430px;

        display: flex;
        justify-content:center;
        align-items: center;
    }
    .about-img-cup {
        width: 726px;
        height: 726px;
        transform: scale(1.0);
        transition: transform 1s;
    }
    .about-img-cup:hover {
        width: 726px;
        height: 726px;
        transform: scale(0.9);
        
    }
    .mobile-app {
        margin-top: 100px;
        height: 630px;

    }
    .mobile-app__block {
        display:flex;
        justify-content:space-between;
    }
    .mobile-app__block1 {
        width: 630px;
        height: 630px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        row-gap: 40px;
    }
    .mobile-app__block2 {
        width: 630px;
        height: 630px;
    }
    .mobile-app-title {
        color:#403F3D;
        font-size: 60px;
        line-height: 125%;
        width: 630px;
        height: 150px;
        margin: 0px;

    }
    .mobile-app-colortext {
        color:#B0907A;
        font-style: italic;
        font-size: 60px;
        line-height: 125%;
    }
    .mobile-app-description {
        color:#403F3D;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 630px;
        height: 48px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
.mobile-app-list {
    display: flex;
    justify-content:space-between;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 420px;
    height: 64px;
    list-style-type: none;
}
.mobile-app-button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: #E1D4C9;
    transition: 2s;
    cursor: pointer;
}
.mobile-app-button:hover {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid #665F55;
    background-color: #665F55;
    transition: 1s;
}
.mobile-app-button:hover .mobile-text {
    color: #E1D4C9;
    transition: 1s;
}
.mobile-app-button:hover .mobile-svg {
    color: #E1D4C9;
    transition: 0.5s;
    fill: #E1D4C9;
    stroke: #E1D4C9;

}
.button-google-play_text {
    display: flex;
    flex-direction: column;
    text-align:left;
}
.available {
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.button-app-store {
    padding: 12px 20px;
    display: flex;
    justify-content:flex-start;
    column-gap: 8px;
}
.button-app-store_text {
    display: flex;
    flex-direction: column;
    text-align:left;
}
.svg-app {
    width: 36px;
    height: 36px;
}
.button-app-store_text1 {
    color:#403F3D;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}
.button-app-store_text2 {
    color: #403F3D;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.button-google-play {
    padding: 12px 20px;
    display: flex;
    justify-content:flex-start;
    column-gap: 8px;
}
.button-google-play_text1 {
    color:#403F3D;
    text-align: left;
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}
.button-google-play_text2 {
    color: #403F3D;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
}
.contacts {
    margin-top: 100px;
}
.address {
text-decoration: none;
}
.number {
text-decoration: none;   
}
.contacts__block {
    width: 1160px;
    height: 250px;
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
    display:flex;
    justify-content: space-between;
    column-gap: 100px;
}
.contacts-title {
    width: 530px;
    height: 150px;
    color: #E1D4C9;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    margin: 0px;
}
.contacts__colortext {
    color: #B0907A;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}
.contacts-list {
    display: flex;
    list-style-type: none;
    column-gap: 12px;
    padding: 0px;
    margin: 0px;
}
.contacts__button {
    background-color:#665F55;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 0.5s;
}
.contacts__button:hover {
    background-color:#E1D4C9;
    border-radius: 100px;
    border: 1px solid #403F3D;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}
.contacts-svg-insta {
    stroke: #E1D4C9;
    fill: transparent;
}
.contacts__button:hover .contacts-svg {
    transition: 0.5s;

    stroke: #403F3D;
}
.contacts__button:hover .contacts-svg-insta {
    transition: 0.5s;
    stroke: #403F3D;
}

.contacts-networks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
}
.contact-us {
    color:#E1D4C9;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin-top: 17px;
    margin-bottom: 21px;
    padding-left: 3px;

}
.contacts-info_text {
    color:#E1D4C9;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    margin: 0px 0px 0px 3px;
}
.contacts-underline {
    position: relative;
}
.contacts-underline:before {
    content: '';
    position:absolute;
    width: 180px;
    height: 3px;
    background: #E1D4C9;
    bottom: -5px;
    transform: scaleX(0);
    transition: 0.5s;
}
.contacts-underline:hover {
    color: #E1D4C9;
}
.contacts-underline:hover:before {
    transform: scaleX(1);
    background: #E1D4C9;
}
.contacts-info {
    display: flex;
    flex-direction: column;
    width: 530px;
    row-gap: 16px;
    padding-top: 15px;
}
.number {
    padding-left: -5px;
}